<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FitUpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FitUp">
        <activity
            android:name=".DailyQuizActivity"
            android:exported="false" />
        <activity
            android:name=".InviteFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".feature.match.ui.MatchActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".FollowActivity"
            android:exported="false" />
        <activity
            android:name=".ConnectionsActivity"
            android:exported="false" />
        <activity
            android:name=".privacypolicyactivity"
            android:exported="false" />
        <activity
            android:name=".termsofservice"
            android:exported="false" /> <!-- SplashActivity chạy đầu -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.FitUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- IntroductionPage không còn MAIN/LAUNCHER -->
        <activity
            android:name=".IntroductionPage"
            android:exported="false"
            android:theme="@style/Base.Theme.FitUp" />
        <activity
            android:name=".MainView"
            android:exported="false" />
        <activity
            android:name=".congrats"
            android:exported="false" />
        <activity
            android:name=".Location_access"
            android:exported="false" />
        <activity
            android:name=".Primary_goal"
            android:exported="false" />
        <activity
            android:name=".Fitness_Level"
            android:exported="false" />
        <activity
            android:name=".scroll_weight"
            android:exported="false" />
        <activity
            android:name=".pick_your_height"
            android:exported="false" />
        <activity
            android:name=".pick_your_birthday"
            android:exported="false" />
        <activity
            android:name=".SelectGender"
            android:exported="false" />
        <activity
            android:name=".SelectRole"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".OTPcode"
            android:exported="false" />
        <activity
            android:name=".FindUserActivity"
            android:exported="false" />
        <activity
            android:name=".BookSessionActivity"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Register" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AssistantChatActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseListActivity"
            android:exported="false" />
    </application>

</manifest>